<% content_for :head do %>
    <%= stylesheet_link_tag "registration", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :foot do %>
  <%= javascript_include_tag 'autoc', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container pb-3">
  <div class="row pt-3 pb-2">
    <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3 center">
      <a href="/home">
        <%= image_tag(image_path("logo.png"),:class=>"img-fluid",:alt=>"logoRegistro") %>
      </a>
    </div>
  </div>
  <div class="row justify-content-center reg">
    <div class="col-12 col-md-10 col-lg-6">
      <div class="card">
      <header class="card-header">
        <%= link_to t(".sign_in"), new_session_path(resource_name) , :class=>"float-right btn btn3 mt-1" %>
        <h1 class="card-title mt-2 wl mont"><%=t(".sign_up")%></h1>
      </header>
      <article class="card-body rale">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.fields_for :contact do |c| %>
            <div class="form-row">
              <div class="field col form-group">
                <%= c.label :name %>
                <%= c.text_field :name , autofocus: true, class: 'form-control'%>
                <% if flash[:errors].present?  && flash[:errors].key?('contact.name') %>
                  <% flash[:errors]['contact.name'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
              </div>
              <div class="field col form-group">
                <%= c.label :lastname %>
                <%= c.text_field :lastname, class: 'form-control' %>
                <% if flash[:errors].present?  && flash[:errors].key?('contact.lastname') %>
                  <% flash[:errors]['contact.lastname'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
              </div>
            </div>
            <div class="field form-group">
              <%= c.label :company %>
              <%= c.text_field :company, class: 'form-control' %>
              <% if flash[:errors].present? && flash[:errors].key?('contact.company') %>
                  <% flash[:errors]['contact.company'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
            </div>
            <%=c.hidden_field :emailcontact %>
            
            <div class="form-row">
              <div class="field col form-group">
                <%= c.label :phone1%>
                <%= c.text_field :phone1, class: 'form-control'   %>
                <% if flash[:errors].present? && flash[:errors].key?('contact.phone1') %>
                  <% flash[:errors]['contact.phone1'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
              </div>
              <div class="field col form-group">
                <%= c.label :phone2%>
                <%= c.text_field :phone2, class: 'form-control'   %>
              </div>
            </div>
          <% end %>
          <div class="field form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control'  %>
              <% if flash[:errors].present?  && flash[:errors].key?('email') %>
                  <% flash[:errors]['email'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
            </div>
          <div class="field form-group">
            <%= f.label :password%>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t('.characters_minimum') %>)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control'   %>
            <% if flash[:errors].present? && flash[:errors].key?('password')  %>
                  <% flash[:errors]['password'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
          </div>
          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            <% if flash[:errors].present? && flash[:errors].key?('password_confirmation') %>
                  <% flash[:errors]['password_confirmation'].each do |msg|%>
                    <small class="rl lato"><%=msg%></small>                  
                  <%end%>
                <%end%>
          </div>
          <div class="actions">
            <%= f.submit t(".sign_up"), id: "submit" ,class: "btn btn-block btn2 lato" %>
          </div>
        <% end %>
      </article> <!-- card-body end .// -->
      <div class="border-top card-body text-center lato"><%= t('.have_an_account?') %> <a href="/users/sign_in"><%=t(".sign_in")%></a></div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->

</div> 


