<%= form_with(model: reference, id: 'myform') do |form| %>
 
  <div class="form row">
    <%= form.fields_for :picture do |pic| %>
      <div class="field col-12 form-group">
        <%= pic.label :files %>
        <%= pic.file_field :files, class: 'form-control lato', multiple: true,accept:".jpg, .jpeg, .gif, .png"%>
        <% if flash[:errors].present?  && flash[:errors].key?('picture.files') %>
          <% flash[:errors]['picture.files'].each do |msg|%>
            <small class="rl lato"><%=msg%></small>                  
          <%end%>
        <%end%>
      </div>
    <%end%>
    <div class="field col-12 form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control lato' %>
      <% if flash[:errors].present?  && flash[:errors].key?('title') %>
        <% flash[:errors]['title'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control lato', rows: 5%>
      <% if flash[:errors].present?  && flash[:errors].key?('content') %>
        <% flash[:errors]['content'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :year %>
      <%= form.number_field :year, value: Date.today.year, class: 'form-control lato', min: 1959, max: 2099%>
      <% if flash[:errors].present?  && flash[:errors].key?('year') %>
        <% flash[:errors]['year'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
    
    <%= hidden_field_tag :update_pictures, false%>

    <div class="col-12 actions">
      <%= form.submit t('pub'), class: "btn btn2 lato"%>
    </div>
  </div>
<% end %>

<% content_for :foot do %>
  <%= javascript_include_tag 'preview_images', 'data-turbolinks-track': 'reload' %>
<% end %>