<% content_for :head do %>
    <%= stylesheet_link_tag "references", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<div class="container" id="news">
  <% @references.each_with_index do |reference,indice| %>
    <div class="row" id="noticia<%= reference.id %>">
      <% if indice%2!=0 %>
      <div class="info col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="contenido">
            <h2 class="mont wl"><%= reference.title %></h2>
            <p class="fecha pt-2 lato wl"><%= reference.year %></p>
            <div class="boton pb-2">
                <button type="button" class="btn btn3" data-toggle="modal" data-target="#modalReferencia<%= reference.id %>">Conoce más</button>
            </div> 
            <% if @user_admin %>
            <div class="center">
              <span class="btn btn3 mr-3">
                <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_reference_path(reference) %>
              </span>
              <span class="btn btn3">
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, reference, method: :delete, data: { confirm: 'Are you sure?' }%>
              </span>
            </div>
            <%end%>
          </div>
      </div>
      <%end%>
      <div id="slides<%= reference.id %>" class="carousel slide col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" data-ride="carousel">
        
        <div class="carousel-inner">
          <% reference.picture.files.each do |pic| %>
            <div class="carousel-item">
              <div class="center"><%= image_tag(pic.url,:class=>"imagen", :alt=>"imgNoticia") %></div>
            </div>
          <%end%>
        </div>
        <% if reference.picture.files.length >1 %>
          <ul class="carousel-indicators">
            <% reference.picture.files.each_with_index do |indicator,index|%>
            <li data-target="#slides<%= reference.id %>" data-slide-to='<%= index %>' class=""></li>
            <%end%>           
          </ul>
        <%end%>
          <a class="carousel-control-prev" href="#slides<%= reference.id %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#slides<%= reference.id %>" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      <% if indice%2==0 %>
      <div class="info col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="contenido">
            <h2 class="mont wl"><%= reference.title %></h2>
            <p class="fecha pt-2 lato wl"><%= reference.year %></p>
            <div class="boton pb-2">
                <button type="button" class="btn btn3" data-toggle="modal" data-target="#modalReferencia<%= reference.id %>">Conoce más</button>
            </div> 
            <% if @user_admin %>
            <div class="center">
              <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_reference_path(reference), class: "btn btn3 mr-3"%>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, reference, class: "btn btn3",data: {toggle: "modal", target: "#confirmar"}%>
            </div>
            <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="confirmar" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmar">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ¿Está seguro? No se puede recuperar una vez se eliminen los datos.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <%= link_to 'Eliminar', reference, method: :delete, class: "btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
            <%end%>
          </div>
      </div>
      <%end%>
      <!-- Modal -->
      <div class="modal fade" id="modalReferencia<%= reference.id %>" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title mont" id="modalTitulo"><%= reference.title %></h5>
            </div>
            <div class="modal-body">
              <p class="textoModal rale jumpline"><%= reference.content %></p>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn1" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <% if @user_admin %>
    <%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_reference_path, :class=>"btn btn-circle shadow-lg" %>
  <%end%>
</div>
<% content_for :foot do %>
    <%= javascript_include_tag 'class_adder', 'data-turbolinks-track': 'reload' %>
<% end %>