<%= render "layouts/header_main" %>
<div class="container pt-3">
  <div class="row">
    
    <div class="col-12 col-md-6">
      <strong class="mont"><%=t('title')%></strong>
      <p class="rale">
        <%= sanitize @reference.title %>
      </p>
      <strong class="mont"><%=t('description')%></strong>          
      <div>
        <p class="rale jumpline">
          <%= sanitize @reference.content %>
        </p>
      </div>
      <strong class="mont"><%=t('year') %></strong>
      <p class="rale">
        <%= @reference.year %>
      </p>
      <strong class="mont"><%=t('user')%></strong>
      <p class="rale">
        <%= sanitize @reference.user.contact.name %>
        <%= sanitize @reference.user.contact.lastname %>
      </p>
    </div>
    <div class="col-12 col-md-6">
      <strong class="mont"><%=t('pictures')%></strong>
      <div class="row">
        <% @reference.picture.files.each do |pic| %>
          <div class="col-6 col-sm-4 col-md-6 col-lg-4 p-2">
            <div class="cont">
              <%= image_tag(pic.url,:alt=>"servicio", :class=>"img-fluid") %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col mb-3">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_reference_path(@reference), class: 'btn btn1'%>
        <%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, references_path, class: 'btn btn1'%>
    </div>
  </div>
</div>