<%= form_with(model: service) do |form| %>
  <div class="row">
    <div class="field col-12 form-group">
      <%= form.label :pictures %>
      <%= form.file_field :pictures, class: 'form-control lato', multiple: true%>
      <% if flash[:errors].present?  && flash[:errors].key?('pictures') %>
        <% flash[:errors]['pictures'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="form row">
    <div class="field col-12 form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control lato'%>
      <% if flash[:errors].present?  && flash[:errors].key?('title') %>
        <% flash[:errors]['title'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control lato', rows: 5%>
      <% if flash[:errors].present?  && flash[:errors].key?('description') %>
        <% flash[:errors]['description'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= hidden_field_tag :update_pictures, false%>


    <div class="col-12 actions">
      <%= form.submit t('pub'), class: "btn btn2 lato"%>
    </div>
  </div>
<% end %>


<% content_for :foot do %>
  <%= javascript_include_tag 'preview_images', 'data-turbolinks-track': 'reload' %>
<% end %>