<div class="container">
	<h1 class="py-3"><%= t('.edit_service')%></h1>

	<div class="row">
		<div class="col-12 col-md-6">
			<%= render 'form', service: @service %>
      		<%= link_to octicon("arrow-left"), services_path, class: "btn btn1 mt-3"%>
		</div>
		<div class="col-12 col-md-6">
			<div id='my-element' data-pics='<%= @pics.to_json%>'></div>
			<% if @service.pictures.any? %>
				<div class="row" id="result">
					<%@service.pictures.each_with_index do |pic,index|%>
						<div class="col-12 col-lg-6 pt-2 pb-2">
							<%= image_tag(pic.url, class: "img-fluid")%>
							<%= link_to "x", {controller: 'services', action: 'destroy_picture', index:index, id:@service}, method: 'put'%>
						</div>
					<%end%>
				</div>
			<%end%>
		</div>
	</div>
</div>
<% content_for :foot do %>
  <%= javascript_include_tag 'preview_images', 'data-turbolinks-track': 'reload' %>
<% end %>
