<%= render "layouts/header_main" %>
<div class="container pb-3">
	<h1 class="py-3 mont"><%= t('.edit_service')%></h1>
	<div class="row rale mb-3">
		<div class="col-12 col-md-6">
			<div id="showform">
				<%= render 'form', service: @service %>
			</div>
			<div class="mt-3">
				<%if @new_record %>
                    <%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, @service, class: "btn btn1", method: :delete, data: { confirm: 'Se eliminarán los cambios. ¿Está seguro?'}%>
                <%else%>
		      		<%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, services_path, class: "btn btn1", id:"back"%>
				<%end%>
			</div>

		</div>
		<div class="col-12 col-md-6">
			<% if @service.pictures.any? %>
				<div class="row" id="result">
					<%=render 'images'%>
				</div>
			<%end%>
		</div>
	</div>
</div>

