<%= render "layouts/header_main" %>

<div class="container pb-3">
	<h1 class="py-3 mont"><%=t(".new_service")%></h1>	
	<div class="row rale mb-3">
		<div class="col-12 col-md-7 col-lg-6">
			<div id="showform">
				<%= render 'form', service: @service %>
			</div>
			<div>
	      		<%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, services_path, class: "btn btn1 mt-3"%>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<% if @service.pictures.any? %>
				<div class="row" id="result">
					<%=render 'images'%>
				</div>
			<%end%>
		</div>
	</div>
</div>