<% content_for :head do %>
    <%= stylesheet_link_tag "newsTemplate", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>

<div class="container" id="content">
	<div class="row titleImage">
		<div class="titulo pb-3 col-xl-12">
			<h1>Nueva aula inteligente en la Universidad de Guayaquil</h1>
		</div>
		<div class="imagen col-xl-7">
			
			<div id="SLIDES1" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#SLIDES1" data-slide-to="0" class="active"></li>
                <li data-target="#SLIDES1" data-slide-to="1"></li>
                <li data-target="#SLIDES1" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                 	<figure>
						<%= image_tag(image_path("referencias/estatal.png"),:class=>"img-fluid",:alt=>"noticia1") %>	
					</figure>
                </div>
                <div class="carousel-item">
                  	<figure>
						<%= image_tag(image_path("referencias/despacho.png"),:class=>"img-fluid",:alt=>"noticia1") %>	
					</figure>
                </div>
                <div class="carousel-item">
                  	<figure>
						<%= image_tag(image_path("referencias/estatal.png"),:class=>"img-fluid",:alt=>"noticia1") %>	
					</figure>
                </div>
              </div>
              <a class="carousel-control-prev" href="#SLIDES1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#SLIDES1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <figcaption class="rale">Aula de la Facultad de Economía de la Estatal</figcaption>
		</div>
	</div>
	<div class="row contenido">
		<div class="fecha col-xl-12">
			<p>28 de febrero, 2019</p>
		</div>
		<div class="info col-xl-8">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare sapien ac tortor ultricies, sed bibendum dui gravida. Fusce a mauris consequat, malesuada mi a, imperdiet enim. Sed lacus dui, efficitur at elementum id, pharetra et dui. Pellentesque non varius nibh. Praesent vitae egestas turpis, nec laoreet tellus. Maecenas a erat fermentum, euismod enim sit amet, finibus dui. Praesent lacinia congue velit ac convallis. Morbi bibendum malesuada rhoncus. Etiam sollicitudin, turpis nec fermentum luctus, est nisl pretium arcu, id pretium tortor nisl sit amet ligula. Integer ut velit sagittis, varius est ut, efficitur orci. Aenean vel faucibus nulla, eu congue diam. Duis volutpat dolor at velit porttitor, nec suscipit dolor condimentum. Duis porta blandit venenatis. Praesent quis elit vitae dolor mollis porta non sed nibh. Nam feugiat placerat interdum.

			Curabitur tortor ligula, vehicula at orci non, rutrum egestas tellus. Nulla nec lorem vel nisi feugiat eleifend. Morbi semper, mi a faucibus varius, enim risus sollicitudin mi, sit amet aliquet enim risus sit amet neque. In vitae lacinia neque. Nullam placerat auctor posuere. Sed varius quis dolor a semper. Ut posuere vulputate massa, non imperdiet nunc faucibus vel.

			Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis velit mauris, imperdiet ac interdum a, euismod at leo. Sed convallis tempor dapibus. Phasellus ut justo sodales, sodales est sed, dignissim lorem. Ut egestas libero vitae dapibus dapibus. Donec eu ullamcorper augue. Vestibulum sit amet arcu semper, cursus felis non, mollis ante. Praesent tempus nibh sit amet sem laoreet pellentesque. Fusce at dolor non massa interdum porttitor id nec odio. Nullam sodales libero tortor, nec placerat purus porta quis. In tempus enim libero, in pharetra mi suscipit sed.</P>
		</div>
	</div>
</div>
<% content_for :foot do %>
	<%= render "layouts/footer_main" %>
<% end %>