<% content_for :head do %>
    <%= stylesheet_link_tag "references", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<body>
	<div class="container" id="noticias">
        <div class="row pb-3" id="noticia1">
            <div id="SLIDES1" class="carousel slide col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8"" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#SLIDES1" data-slide-to="0" class="active"></li>
                <li data-target="#SLIDES1" data-slide-to="1"></li>
                <li data-target="#SLIDES1" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag(image_path("referencias/estatal.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag(image_path("referencias/monasterio.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag(image_path("referencias/fae.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#SLIDES1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#SLIDES1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="info col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="contenido">
                    <h2 class="mont wl">Equipamiento de sala de excelencia en la Facultad de Economía de la Universidad Estatal de Guayaquil</h2>
    				<p class="lato wl">2018</p>
                    <div class="boton">
                        <button class="btn btn3">Conoce más</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia2">
            <div class="info col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="contenido">
                    <h2 class="mont wl">Reingeniería eléctrica e instalación de transformadores trifásicos en el Monasterio de Nuestra Señora de la Eucaristía</h2>
                    <p class="lato wl">2015</p>
                    <div class="boton">
                        <button class="btn btn3">Conoce más</button>
                    </div>
                </div>
            </div>
            <div id="SLIDES2" class="carousel slide col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8"" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#SLIDES2" data-slide-to="0" class="active"></li>
                <li data-target="#SLIDES2" data-slide-to="1"></li>
                <li data-target="#SLIDES2" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag(image_path("referencias/estatal.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag(image_path("referencias/monasterio.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag(image_path("referencias/fae.png"),:class=>"img-fluid",:alt=>"imgNoticia2") %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#SLIDES2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#SLIDES2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="row pb-3" id="noticia3">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <%= image_tag(image_path("referencias/laica.png"),:class=>"img-fluid",:alt=>"imgNoticia3") %>
                <div class="overlay">
                    <p class="texto rale">Instalación de cableado de fibra, adecuación de Datacenter, planificación, implementación e instalación de la plataforma de cableado estructurado de datos en todos los edificios de la universidad, repotenciación del cabelado de  datos con la instalación de módulos "stack" CISCO para switches apilables CISCO catalyst 2960, automatización de sala de reuniones de rectorado, instalación de redes inalámbricas, implementación de sistema de control de personal con relojes biométricos, adecuación de 18 laboratorios de computación.</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Datacenter, instalación de fibra óptica y cableado estructurado en la Universidad Laica Vicente Rocafuerte</h2>
                <p class="lato">2013</p>
            </div>
        </div>
        <div class="row pb-3" id="noticia4">
            <div class="infoPar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Cableado estructurado en Colegio Técnico Salesiano San Rafael</h2>
                <p class="lato">2013</p>
            </div>
            <div class="imgHoverPar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <%= image_tag(image_path("referencias/rafael.png"),:class=>"img-fluid",:alt=>"imgNoticia4") %>
                <div class="overlay">
                    <p class="texto rale">Instalación e implementación de la plataforma de cableado estructurado en toda el área educativa y administrativa del colegio, instalación de red de circuito de cámaras análogas outdoor, instalación de red de fibra óptica (backbone), redundantes, instalación de correctores de voltaje, venta de equipos y adecuación de infraestructura para 4 laboratorios de comptuación, adecuación de Datacenter para servidores de red, instalación de red WiFi en todo el colegio.</p>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia5">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <%= image_tag(image_path("referencias/fae.png"),:class=>"img-fluid",:alt=>"imgNoticia5") %>
                <div class="overlay">
                    <p class="texto rale">Venta de equipos de computación, venta de Pizarras Interactivas y proyectores de video, instalación de red WiFi local y administrativa, implementacion de Datacenter , instalacion y adecuación de Sala Principal de Reuniones para Personal Administrativo (Mobiliario y accesorios tecnologicos para la sala de reuniones).</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Equipamiento de dispositivos de cómputo y pizarras interactivas en la Unidad Educativa FAE# 2</h2>
                <p class="lato">2013</p>
            </div>
        </div>
        <div class="row pb-3" id="noticia6">
            <div class="infoPar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Control biométrico y adecuación de Data Center en la Unidad Educativa Domingo Savio</h2>
                <p class="lato">2011</p>
            </div>
            <div class="imgHoverPar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <%= image_tag(image_path("referencias/savio.png"),:class=>"img-fluid",:alt=>"imgNoticia6") %>
                <div class="overlay">
                    <p class="texto rale">Instalación e implementación de cableado estructurado para red de laboratorios de computación del colegio, instalación de control biométrico para personal educativo, adecuación de Datacenter para server de red.</p>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia7">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <%= image_tag(image_path("referencias/presidencia.png"),:class=>"img-fluid",:alt=>"imgNoticia7") %>
                <div class="overlay">
                    <p class="texto rale">Formamos parte del proceso de remodelación y automatización del despacho presidencial en el palacio de Carondelet ubicado en Quito, instalación de telefonía IP y cableado estructurado para sistema de seguridad del despacho presidencial y oficinas de secretarios de estado,  e instalaciones eléctricas.</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Remodelación y Automatización del Despacho Presidencial</h2>
                <p class="lato">2007</p>
            </div>
        </div>
	</div>
</body>
<% content_for :foot do %>
    <%= render "layouts/footer_main" %>
<% end %>

