<% content_for :head do %>
    <%= stylesheet_link_tag "services", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<body>
	<section>
		<div class="container" id="contenedorServicios">
			<div class="row justify-content-center" id="filaServicios1">
				<div id="servicios1" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<%= image_tag(image_path("servicios/aula.jpg"),:class=>"image img-fluid",:alt=>"servicio1") %>	
					<h2>Equipamiento de aulas activas</h2>
					<div class="overlay">
						<p>Proporcionamos equipos de última generación que nos permitan trabajar a la par con aplicaciones de ingeniería,
						desarrolladas para ambientes multimedios de 64 bits, como Autocad, Adobe, MathLab, etc.</p>
					</div>
				</div>
				<div id="servicios2" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<%= image_tag(image_path("servicios/dataCenter.jpg"),:class=>"image img-fluid",:alt=>"servicio2") %>
					<h2>Data Center y Cableado Estructurado</h2>
					<div class="overlay">
						<p>Ofrecemos soluciones para el cableado de su oficina u edificio, con el fin de ofrecerle conectividad
						de todos sus equipos activos, permitiendo la integración con los diferentes servicios referentes al cableado voz-datos.</p>
					</div>
				</div>
				<div  id="servicios3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<%= image_tag(image_path("servicios/red.png"),:class=>"image img-fluid",:alt=>"servicio3") %>	
					<h2>Redes e Instalaciones eléctricas</h2>
					<div class="overlay">	
						<p>Ofrecemos redes eléctricas y subestaciones en media y baja tensión, instalaciones eléctricas internas, iluminación 
						interior, exterior, ornamental y alumbrado público.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" id="filaServicios2">
				<div id="servicios4" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<%= image_tag(image_path("servicios/comp.jpg"),:class=>"image img-fluid",:alt=>"servicio4") %>
					<h2>Equipamiento de laboratorios de computación</h2>
					<div class="overlay">
						<p>Creación de laboratorios para computadoras de última generación con aplicaciones para el aprendizaje de los estudiantes.</p>
					</div>
				</div>
				<div id="servicios5" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<%= image_tag(image_path("servicios/auto.png"),:class=>"image img-fluid",:alt=>"servicio5") %>
					<h2>Automatización</h2>
					<div class="overlay">
						<p>Automatización de salas de audio y video, auditorios, coliseos, edificios inteligentes, oficinas, hogar, entre otros.</p>
					</div>	
				</div>
				<div id="servicios6" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<%= image_tag(image_path("servicios/biometric.jpg"),:class=>"image img-fluid",:alt=>"servicio6") %>
					<h2>Seguridad</h2>
					<div class="overlay">
						<p>Videovigilancia, control de acceso y control de entrada/salida de personal; utilizando dispositivos biométricos y software de administración de marcaciones.</p>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
<%= render "layouts/footer_main" %>