<div id="top" class="container">
	<div class="row">
		<div class="col col-12">
			<div class="row justify-content-between">
				<header class="col-md-5 col-lg-4 col-xl-3 d-none d-md-block" id="logoholder">
					<%= image_tag(image_path("logo.png"),:class=>"img-fluid", :alt=>"logoHIS") %>		
				</header>
				<div class="px-3 d-none d-md-block my-auto">
      				<% if user_signed_in? %>
      				<div class="dropdown">
					  <button class="btn btn2 dropdown-toggle lato" type="button" data-toggle="dropdown"><i class="fas fa-user"> </i> <%= current_user.contact.name%> <%= current_user.contact.lastname%>
					  <span class="caret"></span></button>
					  <div class="dropdown-menu dropdown-menu-right px-3">
					    	<%= link_to(edit_user_registration_path, :class => 'lato dropdown-item mb-2') do %>
			        			<i class="fas fa-search"></i> <%= t('.edit_profile')%>
				        	<%end%>
					    	<%= link_to(destroy_user_session_path, method: :delete, :class => 'lato dropdown-item') do  %>
				        		<i class="fas fa-sign-out-alt"></i> <%=t(".sign_out")%>
				        	<%end%>
					  </div>
					</div>
			        	

			      	<% else %>
			        	<%= link_to  new_user_session_path, :class => 'lato btn btn1' do %>
			        		<i class="fas fa-sign-in-alt"></i> <%= t(".sign_in")%>
			        	<%end%>
			        	<%= link_to new_user_registration_path, :class => 'lato btn btn2' do %>
			        		<i class="fas fa-user-plus"></i> <%=t(".sign_up")%>
			        	<%end%>
			      	<% end %>
				</div>
			</div>

			<hr class="d-none d-md-block m-auto" id="line">
		</div>
	</div>
</div>
<div class="sticky-top">
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light col center">
			<a class="navbar-brand d-md-none d-sm-block" href="/home">
				<%= image_tag(image_path("logo-icono.png"),:id=>"logoheader",:class=>"img-fluid", :alt=>"logoHIS") %>		
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div id="menuPrincipal" class="collapse navbar-collapse justify-content-between lato">
				<ul class="list-inline navbar-nav">
					<li class="list-inline-item nav-item"><a class="nav-link" href="/home">Principal</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="/services">Servicios</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="/references">Referencias</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="/us">Nosotros</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="/articles">Noticias</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="/contacts">Contactos</a></li>
				</ul>
				<div class="input-group col-12 col-md-3">
			    	<input type="text" class="form-control" placeholder="Buscar...">
			    	<div class="input-group-append">
				      	<%= link_to '<i class="fas fa-search"></i>'.html_safe, '/search' ,:class=>"btn btn2" %>
			    	</div>
				</div>
				<div class="mt-2 d-md-none d-sm-block">
					<% if user_signed_in? %>
			        	<%= link_to  edit_user_registration_path, :class => 'lato btn btn2' do %>
			        	<i class="fas fa-user"></i> <%=current_user.contact.name%> <%=current_user.contact.lastname%>
			        	<%end%>
			        	<%= link_to destroy_user_session_path, method: :delete, :class => 'lato btn btn2' do%>
			        		<i class="fas fa-sign-out-alt"></i> <%=t(".sign_out")%>
			        	<%end%>
			      	<% else %>
			        	<%= link_to new_user_session_path, :class => 'lato btn btn1'  do%>
			        	 	<i class="fas fa-sign-in-alt"></i> <%=t(".sign_in")%>
			        	<%end%>
			        	<%= link_to new_user_registration_path, :class => 'lato btn btn2' do %>
			        		<i class="fas fa-user-plus"></i> <%=t(".sign_up")%>
			        	<%end%>
			      	<% end %>
			      </div>
			</div>
		</nav>
	</div>
</div>