<% content_for :head do %>
    <%= stylesheet_link_tag "services", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<body>
	<section>
		<div class="container" id="contenedorServicios">
			<div class="row justify-content-center" id="filaServicios1">
				<div id="servicios1" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<div class="center imgServicios">
			            <div class="carousel slide" data-ride="carousel">
			              <div class="carousel-inner">
			                <div class="carousel-item active">
			                  <%= image_tag(image_path("aula.png"),:alt=>"servicio1") %>
			                </div>
			                <div class="carousel-item">
			                  <%= image_tag(image_path("servicios/aula.jpg"),:alt=>"servicio2") %>
			                </div>
			              </div>
			            </div>						
					</div>
					<div class="center infoServicios">
						<div class="titulo">
							<h2 class="mont">Equipamiento de aulas activas</h2>
						</div>	
						<div>
							<p class="rale parrafo">Proporcionamos equipos de última generación que nos permitan trabajar a la par con aplicaciones de ingeniería,
							desarrolladas para ambientes multimedios de 64 bits, como Autocad, Adobe, MathLab, etc.</p>
						</div>
					</div>
					<%= yield :crud %>
				</div>
				<div id="servicios2" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<div class=" center imgServicios">
						<%= image_tag(image_path("dataC.png"),:alt=>"servicio2") %>
					</div>
					<div class="center infoServicios">
						<div class="titulo">
							<h2 class="mont">Data Center y Cableado Estructurado</h2>
						</div>	
						<div>
							<p class="rale parrafo">Ofrecemos soluciones para el cableado de su oficina u edificio, con el fin de ofrecerle conectividad de todos sus equipos activos, permitiendo la integración con los diferentes servicios referentes al cableado voz-datos.</p>
						</div>
					</div>
				</div>
				<div  id="servicios3" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<div class="center imgServicios">
						<%= image_tag(image_path("thunder.png"),:alt=>"servicio3") %>	
					</div>
					<div class="center infoServicios">
						<div class="titulo">
							<h2 class="mont">Redes e Instalaciones eléctricas</h2>
						</div>	
						<div>
							<p class="rale parrafo">Ofrecemos redes eléctricas y subestaciones en media y baja tensión, instalaciones eléctricas internas, iluminación interior, exterior, ornamental y alumbrado público.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" id="filaServicios2">
				<div id="servicios4" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
					<div class="center imgServicios">
						<%= image_tag(image_path("computer.png"),:alt=>"servicio4") %>	
					</div>
					<div class="infoServicios">
						<div class="center titulo">
							<h2 class="mont">Equipamiento de laboratorios</h2>
						</div>	
						<div>
							<p class="rale parrafo">Creación de laboratorios para computadoras de última generación con aplicaciones para el aprendizaje de los estudiantes.</p>
						</div>
					</div>
				</div>
				<div id="servicios5" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<div class="center imgServicios">
						<%= image_tag(image_path("automation.png"),:alt=>"servicio5") %>	
					</div>
					<div class="center infoServicios">
						<div class="titulo">
							<h2 class="mont">Automatización de salas de audio/video</h2>
						</div>	
						<div>
							<p class="rale parrafo">Automatización de salas de audio y video, auditorios, coliseos, edificios inteligentes, oficinas, hogar, entre otros.</p>
						</div>
					</div>
				</div>
				<div id="servicios6" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1">
					<div class="center imgServicios">
						<%= image_tag(image_path("bio.png"),:alt=>"servicio6") %>
					</div>
					<div class="center infoServicios">
						<div class="titulo">
							<h2 class="mont">Seguridad y Control Biométrico</h2>
						</div>	
						<div>
							<p class="rale parrafo">Videovigilancia, control de acceso y control de entrada/salida de personal; utilizando dispositivos biométricos y software de administración de marcaciones.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
<% content_for :foot do %>
	<%= render "layouts/footer_main" %>
<% end %>