<% content_for :head do %>
    <%= stylesheet_link_tag "registration", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row  pt-3 pb-2">
    <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3 center">
      <a href="/home">
        <%= image_tag(image_path("logo.png"),:class=>"img-fluid",:alt=>"logoRegistro") %>
      </a>
    </div>
  </div>
  <div class="row justify-content-center reg">
    <div class="col-12 col-sm-9 col-md-8 col-lg-5">
      <div class="card">
      <header class="card-header">
        <h2 class="card-title mt-2 wl mont"><%=t(".change_password")%></h2>
      </header>
      <article class="card-body rale" id="formulario">
        <%= render 'form', resource: resource %> 
      </article> <!-- card-body end .// -->
      <div class="border-top card-body text-center lato">
        <%= link_to t(".return_to_login"), new_user_session_url  %>

      </div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->

</div> 



