<%= form_with(model: contact, remote: true,id: "myform",:class=>"wl lato mt-4") do |f| %>
	<div class="row">
		<div class="form-group col-12 col-md-6">
			<%=f.label(:name,"Nombre: ")%>
			<%=f.text_field(:name,:class=>"form-control",:pattern=>"[A-za-z ]+", :placeholder=>"John", :required=>true)%>
		</div>
		<div class="form-group col-12 col-md-6">
			<%=f.label(:lastname,"Apellido: ")%>
			<%=f.text_field(:lastname,:class=>"form-control",:pattern=>"[A-za-z ]+", :placeholder=>"Doe", :required=>true)%>
		</div>
	</div>
	<div class="form-group">
		<%=f.label(:company,"Empresa: ")%>
		<%=f.text_field(:company,:class=>"form-control", :placeholder=>"Nombre empresa")%>
	</div>
	<div class="row bl">
		<div class="form-group col-12 col-md-6">
			<div class="row">
				<%=f.label(:phone1,"Teléfono 1: ", class: "wl col-12")%>
			</div>
			<%= f.telephone_field(:p1,:required=>true,:class=>"form-control phone")%>
            <%= f.hidden_field :phone1 ,class: 'phonehidden'%>
		</div>
		<div class="form-group col-12 col-md-6">
			<div class="row">
				<%=f.label(:phone2,"Teléfono 2: ", class: "wl col-12")%>
			</div>
			<%= f.telephone_field(:p2, :class=>"form-control phone")%>
            <%= f.hidden_field :phone2 ,class: 'phonehidden'%>
		</div>
	</div>
	<div class="form-group">
		<%=f.label(:emailcontact,"Email: ")%>
		<%=f.email_field(:emailcontact,:class=>"form-control", :pattern=>"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", :placeholder=>"your@email.com",:required=>true)%>
	</div>
	<div class="form-group">
		<%=f.label(:asunto,"Asunto: ")%>
		<%=f.text_field(:asunto,:class=>"form-control", :placeholder=>"Servicio de cableado", :required=>true)%>
	</div>
	<div class="form-group">
		<%=f.label(:mensaje,"Mensaje: ")%>
		<%=f.text_area(:mensaje,:class=>"form-control jumpline",:placeholder=>"Escribe tu mensaje/consulta aquí", :required=>true)%>
	</div>
	<div class="form-group">
		<%=f.label(:doc,"Adjuntar documento: ")%>
		<%=f.file_field('doc',:class=>"form-control-file",accept:".doc,.docx,.pdf,.odt,image/*")%>
	</div>
	<div>
		<%= f.submit("Enviar",:class => "btn btn2") %>
	</div>
	<br>
<%end%>