		<div class="col-12">
			<h1>Contactos</h1>
		</div>
		<div class="row">
			<div class="table-responsive">
			 <%= form_tag({controller: "contacts", action: "check_contact"}, method: :put, remote: true)  do %> 
			<table id='tabla' class="table table-hover">
			    <thead class="wl">
			      <tr>
			      	<th class="toggle">
			      		<%= check_box_tag "checkAllContact" %>
			      		
					    <button class="dropdown-toggle" data-toggle="dropdown" id="checkToggle">
					    	<span class="caret"></span>
						</button>
					    <ul class="dropdown-menu">
						  <li><%= button_tag(type: "submit", class: "btn", name: "contactado", id:"submitContactado") do %>
							<i class="fas fa-eye"></i> Contactado
							<%end%></li>
						  <li><%= button_tag(type: "submit", class: "btn", name: "noContactado", id:"submitNoContactado") do %>
							<i class="fas fa-eye-slash"></i> No Contactado<%end%></li>
						  <li><%= button_tag(type: "submit", class: "btn", name: "borrar", id:"submitBorrar") do %>
							<i class="fas fa-trash-alt"></i> Eliminar<%end%></li>
					    </ul>
					
					</th>
			        <th class="tableHeader"><%=t(".name")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(2)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".lastname")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(3)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".company")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(4)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".phone1")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(5)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".phone2")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(6)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".email")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(7)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".sent_date")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(8)')" style="cursor:pointer"></i></th>
			        <th class="tableHeader"><%=t(".status")%><i class="fas fa-fw fa-sort" onclick="w3.sortHTML('#tabla','.item', 'td:nth-child(9)')" style="cursor:pointer"></i></th>
			        <th class="buttons"></th>

			      </tr>
			    </thead>
			    <tbody>
			    <% contacts.each do |contact|%>
			    	<% if contact.wascontacted? %>
			    	<tr class="item">
			    	<% else %>
			    	<tr class="item font-weight-bold">
			    	<% end %>
			    		
				      	<td><%= check_box_tag "contacto_id[]", contact.id, false, class: 'checkContactC' %> </td>
				      	<td><%= contact.name %></td>
				        <td><%= contact.lastname %></td>
				        <td><%= contact.company %></td>
				        <td><%= contact.phone1 %></td>
				        <td><%= contact.phone2 %></td>
				        <td><%= contact.emailcontact %></td>
				        <td><%= contact.created_at.to_date %></td>
				        <% if contact.wascontacted? %>
				        <td><i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="Contactado"></i></td>
				        <% else %>
				        <td><i class="fas fa-eye-slash" data-toggle="tooltip" data-placement="top" title="No Contactado"></i></td>
				        <%end%>
				        <td>
				        	<%= link_to '<i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="Contactado"></i>'.html_safe, {controller: 'contacts', action: 'check_contact', contacto_id: contact, contactado: ""}, method: 'put', remote: true%>
				        	<%= link_to '<i class="fas fa-eye-slash mr-1" data-toggle="tooltip" data-placement="top" title="No Contactado"></i>'.html_safe, {controller: 'contacts', action: 'check_contact', contacto_id: contact, noContactado: ""}, method: 'put', remote: true%>
				        	<%= link_to '<i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>'.html_safe, {controller: 'contacts', action: 'check_contact', contacto_id: contact, borrar: ""}, method: 'put', remote: true%>
							
				        </td>
			      </tr>
			      <%end%>
			      
			      <%end%>
			    </tbody>
			  </table>
			</div>
		</div>

