<% content_for :head do %>
    <%= stylesheet_link_tag "contactus", media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<% end %>
<%= render "layouts/header_main" %>
<% if @user_admin %>
	<div class="container-fluid mt-3" id="tablaContacto">
		<%= render 'tablecontact' , contacts: @contacts %>
	</div>
	<div class="container-fluid mt-3" id="tablaUsuario">
		<%= render 'tableusers' , users: @users %>
	</div>

<%else%>
<div id="formulario">
	<section class="container" id="consultasHolder">
		<div class="row">
			<div class="col col-12 col-sm-12 col-md-12 col-lg-8">
				<h1 class="wl mt-3">Consultas</h1>
				<%= render 'form', contact: @contact%>					
			</div>
			<div id="corr" class="col col-12 col-lg-4 d-none d-lg-block">
				<%= image_tag(image_path("mail.png"),:class=>"img-fluid",:alt=>"correo") %>		
			</div>
		</div>
	</section>
	<div class="modal fade" id="msj-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Correo enviado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Su correo ha sido enviado. Pronto estaremos en contacto con usted.
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
	<section class ="row mt-3 mb-3" id="datos">
		<div class="col col-12">
			<h1> Información de contacto </h1>
		</div>

		<div class="col col-12 col-sm-12 col-md-6">
			<div  id="info">
				<p>
					<strong>Dirección:</strong> Urb. La Saiba, calle Germania Garaicoa Terán y Primer Callejón 43B Mz. H Solar 9. Guayaquil, Ecuador.
				</p>
				<p>
					<strong>Teléfonos:</strong> (04) 2347574 -  2580379
				</p>
				<p>
					<strong>Email:</strong> hissistemasgye@gmail.com
				</p>
			</div>
		</div>

		<div class="col col-12 col-sm-12 col-md-6" >
			<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.807305629318!2d-79.89472308524472!3d-2.226100798377445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6f72355727e7%3A0xa2d46c47543dd4f0!2sHIS+Sistemas!5e0!3m2!1ses!2sec!4v1552582603798" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>
</div>
	
<%end%>	

	



<% content_for :foot do %>
    <%= javascript_include_tag 'w3', 'data-turbolinks-track': 'reload' %>
<% end %>