<%= form_with(model: article) do |form| %>
  <div class="form-row">
    <div class="field col-12 form-group">
      <%= form.label :title %>
      <%= form.text_field :title, required: true, class: 'form-control lato' %>
      <% if flash[:errors].present?  && flash[:errors].key?('title') %>
        <% flash[:errors]['title'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :description %>
      <%= form.text_area :description, required: true, class: 'form-control lato' %>
      <% if flash[:errors].present?  && flash[:errors].key?('description') %>
        <% flash[:errors]['description'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :content %>
      <%= form.text_area :content, required: true, class: 'form-control lato', 'id': :summernote %>
      <% if flash[:errors].present?  && flash[:errors].key?('content') %>
        <% flash[:errors]['content'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <%= form.fields_for :picture do |pic| %>
      <div class="field col-12 form-group">
        <%= pic.label :files %>
        <%= pic.file_field :files, class: 'form-control lato', multiple: true%>
        <% if flash[:errors].present?  && flash[:errors].key?('picture.files') %>
          <% flash[:errors]['picture.files'].each do |msg|%>
            <small class="rl lato"><%=msg%></small>                  
          <%end%>
        <%end%>
      </div>
    <%end%>

    <div class="field col-12 form-group">
      <%= form.label :figcaption %>
      <%= form.text_field :figcaption, required: true, class: 'form-control lato' %>
      <% if flash[:errors].present?  && flash[:errors].key?('figcaption') %>
        <% flash[:errors]['figcaption'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <div class="field col-12 form-group">
      <%= form.label :fecha %>
      <%= form.date_select :fecha, required: true, class: 'form-control lato' %>
      <% if flash[:errors].present?  && flash[:errors].key?('fecha') %>
        <% flash[:errors]['fecha'].each do |msg|%>
          <small class="rl lato"><%=msg%></small>                  
        <%end%>
      <%end%>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
    
    <%= hidden_field_tag :update_pictures, false%>

    <div class="col-12 actions">
      <%= form.submit t('pub'),class: "btn btn2 lato"%>
    </div>
  </div>
<% end %>
<% content_for :foot do %>
    <%= javascript_include_tag 'preview_images', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'summernote-es-ES', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'summernote-init', 'data-turbolinks-track': 'reload' %>
<% end %>
