<%= render "layouts/header_main" %>
<div class="container">
	<h1 class="py-3 mont"><%= t('.edit_article')%></h1>
	<div class="row rale mb-3">
		<div class="col-12 col-md-6">
			<%= render 'form', article: @article %>
			<%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, articles_path, class: "btn btn1 mt-3"%>
		</div>
		<div class="col-12 col-md-6">

			<% if @article.pictures.any? %>
				<div class="row" id="result">
					<%=render 'images'%>
				</div>
			<%end%>
		</div>
	</div>
</div>
