<% content_for :head do %>
    <%= stylesheet_link_tag "news", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>
<div class="container">
  <% @articles.each do |article| %>
    <div class="row new mr-lg-5 ml-lg-5 pr-lg-5 pl-lg-5">
        <div class="col-7 col-md-9">
          <h1 class="mont"><%= link_to article.title, article %></h1>
          <small class="rale">
            <%= article.description %>
          </small>
        </div>
        <div class="col-5 col-md-3">
          <div class="row center">
            <div class="col-12">
              <% if article.pictures.any? %>
                <%= link_to image_tag(article.pictures[0].url,:class=>"img-thumbnail view", :alt=>"imgNoticia"), article %>
              <%end%>
            </div>
            <% if user_signed_in? %>
              <div class="col-12">
                <div class="center mt-3">
                  <span class="btn btn2 mr-md-3">
                    <%= link_to octicon("pencil"), edit_article_path(article) %>  
                  </span>
                  <span class="btn btn2">
                    <%= link_to octicon("trashcan"), article, method: :delete, data: { confirm: 'Are you sure?' }%>
                  </span>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
    <% if user_signed_in? %>
      <%= link_to '+', new_article_path, :class=>"btn btn-circle shadow-lg" %>
    <%end%>
      
</div>



