<% content_for :head do %>
    <%= stylesheet_link_tag "newsTemplate", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>

<div class="container pt-3" id="content">
  <div class="row justify-content-between">
    <div class="col-lg-7 col-xl-7 mb-3">
    <div class="titulo">
      <h1 class='mont'><%= sanitize @article.title %></h1>
    </div>
    <div>
      <p class="mb-0 mt-2 rale"><%= sanitize @article.user.contact.name %> <%= sanitize @article.user.contact.lastname %></p>
    </div>
    <div class="fecha rale">
      <p class="mb-4"><%= I18n.localize sanitize @article.fecha, format: :long %></p>
    </div>
    <div  id="noticia" class="carousel slide imagen" data-ride="carousel">
      
      <div class="carousel-inner">
        <% @article.picture.files.each do |pic| %>
          <div class="carousel-item">
            <%= image_tag(pic.url,:class=>"imagen", :alt=>"imgNoticia")%>
          </div>
        <%end%>
      </div>

      <% if @article.picture.files.length >1 %>
      <ul class="carousel-indicators">
        <% @article.picture.files.each_with_index do |indicator,index|%>
        <li data-target="#noticia" data-slide-to='<%= index %>' class=""></li>
        <%end%>           
      </ul>
      <%end%>   
      <a class="carousel-control-prev" href="#noticia" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#noticia" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> 

    </div>
    
    <div class="mb-4"><figcaption class="lato"><%= @article.figcaption %></figcaption></div>

    
    <div class="info">
      <p>
        <%= @article.content.html_safe %>
      </p>  
    </div>
    <% if @user_admin %>
      <div>
        <div class="mb-3">
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_article_path(@article), class: "btn btn2 mr-md-3"%>  
          <%= link_to '<i class="fas fa-angle-left"></i>'.html_safe, articles_path, class:"btn btn2"%>
        </div>
      </div>
    <%end%>
  
  </div>
    <aside class="col-lg-5 col-xl-4">
      <h2 class="mont">Noticias Relevantes</h2><hr class="hrCel">
      <% @articles.each do |article| %>
      <div class="row justify-content-between mb-3">
        <div class="col-8">
          <small><h1 class="rale"><%= link_to article.title, article %></h1></small>
        </div>
        <div class="col-4">
          <%= link_to image_tag(article.picture.files[0].url,:class=>"img-thumbnail view", :alt=>"imgNoticia"), article %>
        </div>
        
      </div>
      <hr>
      <%end%>

    
    </aside>
  </div>
  
  
</div>

<% content_for :foot do %>
    <%= javascript_include_tag 'class_adder', 'data-turbolinks-track': 'reload' %>
<% end %>