<% content_for :head do %>
    <%= stylesheet_link_tag "newsTemplate", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>

<div class="container mt-4" id="content">
  <div class="row justify-content-between">
    <div class="col-lg-7 col-xl-7">
    <div class="titulo">
      <h1 class='mont'><%= @article.title %></h1>
    </div>
    <div>
      <p class="mb-0 mt-2 rale"><%= @article.user.contact.name %> <%= @article.user.contact.lastname %></p>
    </div>
    <div class="fecha rale">
      <p class="mb-4"><%= I18n.localize @article.fecha, format: :long %></p>
    </div>
    <div  id="noticia" class="carousel slide imagen" data-ride="carousel">
      
      <div class="carousel-inner">
        <% if @article.pictures.any?%>  
          <% @article.pictures.each do |pic| %>
            <div class="carousel-item">
              <%= image_tag(pic.url,:class=>"imagen", :alt=>"imgNoticia")%>
            </div>
          <%end%>
        <%end%>
      </div>

      <% if @article.pictures.length >1 %>
      <ol class="carousel-indicators">
        <% @article.pictures.each_with_index do |indicator,index|%>
        <li data-target="#noticia" data-slide-to="#{index}" class=""></li>
        <%end%>           
      </ol>
      <a class="carousel-control-prev" href="#noticia" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#noticia" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> 
      <%end%>   

    </div>
    
    <div class="mb-4"><figcaption class="lato"><%= @article.figcaption %></figcaption></div>

    
    <div class="info rale">
      <%= sanitize @article.content %>
    </div>
  </div>
    <aside class="col-lg-5 col-xl-4">
      <h5 class="mont">Noticias Relevantes</h5><hr class="hrCel">
      <% @articles.each do |article| %>
      <div class="row justify-content-between mb-3">
        <div class="col-8">
          <small><h1 class="rale"><%= link_to article.title, article %></h1></small>
        </div>
        <div class="col-4">
          <%= link_to image_tag(article.pictures[0].url,:class=>"img-thumbnail view", :alt=>"imgNoticia"), article %>
        </div>
        
      </div>
      <hr>
      <%end%>

    
    </aside>
  </div>
  <% if user_signed_in? %>
    <div>
      <div class="mt-3">
        <span class="btn btn2 mr-md-3">
          <%= link_to octicon("pencil"), edit_article_path(@article) %>  
        </span>
        <span class="btn btn2">
          <%= link_to octicon("trashcan"), @article, method: :delete, data: { confirm: 'Are you sure?' }%>
        </span>
      </div>
    </div>
  <%end%>
  
  
</div>

<% content_for :foot do %>
    <%= javascript_include_tag 'class_adder', 'data-turbolinks-track': 'reload' %>
<% end %>